.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 8px;
  }
  
  .grid-item {
    text-align: center;
  }
  
  .grid-item img {
    width: 100%;
    max-width: 100%;
  }
  
  .grid-item p {
    margin-top: 10px;
    font-size: 16px;
  }
  